@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$serifFont: 'Crimson Text', serif;
$sansFont: 'Ubuntu', sans-serif;

@import 'grid.scss';
@import 'panel.scss';

body {
  background-color: #000;
  color: #fff;
  // font-family: 'Source Sans Pro', sans-serif;
  font-family: $serifFont;
}

.a-canvas {
  background-color: #000;
}

// .star-detail {
//   color: #fff;
//   width: 512px;
//   height: 512px;
//   position: absolute;
//   top: 0;
//   left: 0;
// }

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.star-detail, #star-detail {
  width: 1024px;
  height: 512px;
  top: 0;
  position: absolute;
  z-index: -1;
}

.top {
  z-index: 1000;
}

.panel {
  position: absolute;
  width: 1024px;
  height: 512px;
  overflow: hidden;
  box-sizing: border-box;
  color: #fff;
  background-color: rgba(0,0,0,1);
  &.top-left {
    top: 0;
    left: 0;
  }

  &.top-right {
    top: 0;
    left: 512px;
  }

  &.bottom-left {
    left: 0;
    top: 512px;
  }

  &.bottom-right {
    top: 512px;
    left: 512px;
  }
}

#header {
  width: 512px;
  text-align: center;
  background-color: transparent;
  h1 {
    font-size: 5em;
    margin: .5em 0 0 0;
  },
  h2 {
    font-weight: normal;
    padding: 0;
    margin: 0;
  }
}

.data-list {
  > div {
    box-sizing: border-box;
    padding: 5px;
  }
  label {
    font-style: italic;
    display: block;
    clear: both;
  }
  span {
    display: block;
    font-size: 2em;
  }
}

.planets {
  position: relative;
}

.planet {
  border-radius: 1000px;
  border: 2px solid #aaccff;
  width: 512px;
  height: 512px;
  margin: 0 auto;
  position: absolute;
  top: 0;
}

// .planets svg {
//   width: 512px;
// }

.hr-location, .sky-location {
  img {
    width: 512px;
  }
}
