<div class="panel container location">
  <div class="bottom_4-of-4 full-width">
    <img src="assets/images/starmap_1024.png" class="starmap" alt="">
    <div class="reticle-parent" style="left: <%=1024-(1024*(starDetails.ra/24))%>px; top: <%=512*(1-((starDetails.dec+90)/180))%>px">
      <img src="assets/images/ra-dec-reticle.png" class="reticle" alt="">
    </div>
  </div>
</div>
